<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @team.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
  <%= link_to 'Mostrar Okrs deste time', team_okrs_path(@team) %>
</p>


<%= link_to 'Editar', edit_team_path(@team) %> |
<%= link_to 'Voltar', teams_path %>
