<p id="notice"><%= notice %></p>

<h1>Okrs</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Equipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.okrs.each do |okr| %>
      <tr>
        <td><%= okr.title %></td>
        <td><%= okr.description %></td>
        <td><%= @team.title %></td>
        <td><%= link_to 'Mostrar', {:action => 'show', :id => okr.id} %></td>
        <td><%= link_to 'Editar', {:action => 'edit', :id => okr.id} %></td>
        <td><%= link_to 'Excluir', {:action => 'destroy', :id => okr.id}, method: :delete, data: { confirm: 'Tem certeza' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Okr', new_team_okr_path(@team) %>
