<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @okr.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @okr.description %>
</p>

<p>
  <strong>Equipe:</strong>
  <%= @team.title %>
</p>

<%= link_to 'Editar', edit_team_okr_path(@okr) %> |
<%= link_to 'Voltar', team_okrs_path %>
